/* Base Styles */
body {
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: 0;
    padding: 20px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Component Layout */
.component-container {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    background-color: #000;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/* Now Playing Styles */
.now-playing {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

/* Controls Styles */
.jp-controls button, .jp-mute, .jp-unmute {
    cursor: pointer;
    background: #000;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.1s;
    display: inline-block;
    margin: 0 5px;
}

.jp-controls button:hover, .jp-mute:hover, .jp-unmute:hover {
    background-color: #222;
}

/* Volume and Progress Bar */
.jp-volume-bar, .jp-progress {
    background-color: #333;
    cursor: pointer;
    height: 20px;
    position: relative;
    display: block;
    margin: 20px 0;
    width: 100%;
    max-width: 600px;
}

.jp-volume-bar-value, .jp-play-bar {
    background-color: #fff;
    transition: width 0.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

/* Time Information */
.time-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 4vw;
    padding: 0 5px;
}

.current-time, .duration {
    color: white;
}

/* Track Item Styles */
.track-item {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 5px;
    text-align: center;
    cursor: pointer;
    background: #000;
}

.track-item.playing, .track-item:hover {
    background-color: #222;
}

/* Media Player Specific Styles */
.jp-controls {
    display: flex;
    justify-content: center;
    gap: 10px; /* Ensures space between controls */
    flex-wrap: wrap; /* Allows controls to wrap on smaller screens */
}

.jp-controls button {
    padding: 0.625em 1em; /* Responsive padding */
    font-size: 1rem; /* Adjust font size */
}

/* Seek Bar and Time Styling */
.jp-progress, .jp-seek-bar {
    width: 90%; /* Set to the desired width relative to its container */
    margin: 0 auto 10px; /* Center align and add margin for spacing */
}

.time-info {
    margin-top: 10px; /* Space from the seek bar */
    font-size: 1.25rem; /* Adjust font size for readability */
}

.current-time, .duration {
    padding: 0 5px; /* Padding to prevent text from touching the edges */
}


/* Header Image Style */
#header-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .jp-controls button, .jp-mute, .jp-unmute {
        padding: 4vw;
        font-size: 4vw;
    }

    .jp-volume-bar, .jp-progress {
        width: 80vw;
        height: 5vh;
    }

    .track-item {
        padding: 10px;
        font-size: 14px;
        margin-bottom: 10px;
    }

    #header-image {
        max-height: 25vh;
    }

    .now-playing {
        margin-bottom: 15px;
    }

    .time-info {
        font-size: 5vw;
    }
}

@media screen and (max-width: 480px) {
    .jp-controls button, .jp-mute, .jp-unmute {
        padding: 3vw;
        font-size: 5vw;
    }

    .jp-controls {
        flex-wrap: wrap;
		gap: 5vw;
    }

    .jp-volume-bar {
        display: none;
    }

    #header-image {
        max-height: 150px;
    }

    .now-playing, .track-item {
        font-size: 10px;
    }

    .time-info {
        font-size: 4vw;
    }
    .jp-progress, .jp-seek-bar {
        width: 90vw; /* Full width for smaller screens */
    }
}
